*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
}

.app {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.box {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  margin: 2rem auto;
}
